.page {
  background: url(img/fond.png);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  height: max-content;
  width: 65%;
  background-color: rgb(236, 243, 241);
  position: relative;
}

.haut {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  background-color: rgb(184, 203, 33);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link a {
  position: adsolute;
  text-decoration: none;
  margin: 25px;
  text-transform: uppercase;
}

.top {
  margin: 20px;
}

.img {
  width: 30%;
  float: left;
  padding: 10px;
}

h1 {
  padding: 0;
  margin: 0;
  color: rgb(184, 203, 33);
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  position: absolute;
  right: 10px;
  background-color: rgb(184, 203, 33);
  padding: 10px, 5px;
  border: none;
  color: white
}
